#Titulo_Principal {
    text-align: center;
    
}

#Sub_Titulo1 {

    text-align: center;
}

.barra_navegacao{
    font-size: 30px;
    border-radius: 10px;
}

.central {
    background-color: rgb(148, 146, 146);
    width: 1000px;
    height: 544px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px;
    margin: 0 auto; 
}
   
.texto_do {
    width: 50%;
}



    
.buttons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

#imagem_sala {
    width: 45%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.navbar{
    background-color: rgb(231, 231, 231);
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px;
    margin: 0 auto; 
    gap: 800px;
}


.bnt-sp {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}